# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environtment
.env
venv/
/.vscode

# Dependencies
/venv
/.venv
/pip-selfcheck.json

# Test results
/coverage

# Output
/output/

# Local files
.initialized
tasks.db